body{
  background: #000;
}

A{
  color: #9999FF;
  text-decoration: none;
  font-weight: bold;
}

#term{
  color: #00FF00;
  width: 100%;
  height: 100%;
}

#head{
  background-color: #000;
  position: fixed;
  width: 100%;
  color: #9999FF;
  border-bottom: 1px solid #00FF00;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.fleft{
  float: left;
  margin-right: 10px;
}
