<!DOCTYPE html>
<html>
  <head>
    <title>Terminal@zmbush.com "And another thing..."</title>
    <link rel="stylesheet" type="text/css" 
      href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" type="text/css" 
      href="{{ url_for('static', filename='css/styles.css') }}" />
    <script 
      src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script 
      src="{{ url_for('static', filename='js/term.js') }}"></script>
  </head>
  <body>
    <div id="main">
    <div id="head">
    You can view a static version of this page <a href="http://static.zmbush.com/">here</a>.
    </div>
    <div id="term">
    </div>
    </div>
    <div id="herokuImg">
    <img src="https://nav.heroku.com/images/logos/logo.png" />
    </div>
  </body>
</html>
